## Subject Settings ##                                        
SubjectName                 : KbaseG                              
## Directory Settings ##                                      
SubjectDirectory            : ../Subjects/KbaseG                  
OutputDirectory             : ../Subjects/Output              
TestsDirectory              : ../Subjects/KbaseG/Tests            
InputsDirectory             : ../Subjects/KbaseG/Inputs           
ModelDirectory              : ../Subjects/KbaseG/CRN              
## Subject Settings ##                                        
ModelFilename               : KbaseG-0                           
ModelType                   : CRN                             
CountReactions              : true                            
## Test Settings ##                                           
PropertiesFilename          : Tests-RC.csv                    
LoadTraces                  : false                           
StoreTraces                 : false                              
## Simulation Settings ##                                     
Simulations                 : 100                             
MaxSimulationTime (seconds) : 100                             
MaxReactions                : 100000                          
MaxClockTime      (seconds) : 1                               
## Evaluation Settings ##                                     
EvaluationTimes             : [100]                           
